# Android build artifacts
/android-app/app/build/
/android-app/.gradle/
/android-app/.idea/
/android-app/.kotlin/
/android-app/local.properties
/android-app/*.iml

# Gradle
.gradle/
build/

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# zip
/wp-content/plugins/fyndable-client.zip
/wp-content/plugins/fyndable-saas-dashboard.zip